img{
  max-width: 100%;
  /*height: 100%;*/
}

h1{
  font-weight: 600;
  font-size: 2em;
  width: 100%;
  font-family: 'Indie Flower', cursive;
}
header{
  background-color: rgb(227, 151, 116);
}

.body{
  background-color: rgb(046, 134, 171);
}
footer{
  background-color: rgb(046, 134, 171);
}

.font{
  font-family: 'Indie Flower', cursive;

}

input {
  outline: none;
  text-decoration: none;
}

#returnString {
  color:rgb(046, 134, 171);
}

.faves{
  background-color: rgb(046, 134, 171);
}

/*.wrapfaves{
  background-color: rgb(046, 134, 171);
}*/

@media all and (min-width: 669px) {
  h1{
    font-weight: 600;
    font-size: 7em;
    width: 100%;
    font-family: 'Indie Flower', cursive;
  }
}
