
.wrapper{
  width: 100%;
  border-style: dashed;
}
.header{
  padding-top: 2em;
  padding-bottom: 1em;
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
.title{
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 80.5%;
  background-position: center;
  text-align: center;
}
.titleImg{
  width: 15em;
}

.titleWords{
  border-style: dashed;
  display: block;
}

.splitArrows{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

.arrowleft{
  padding-left: 1em;
  padding-top: 1em;
}

.arrowright{
  padding-right: 1em;
  padding-top: 1em;
}

.formImput{
  font-size: 2em;
  text-align: center;
  border-radius: 30px;
  outline: none;
}


.filterForm{
  padding-top: 24%;
  padding-bottom: 10%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.formImput{
  font-size: 2em;
  text-align: center;
  border-radius: 30px;
  border: 2px solid rgb(173, 204, 204);
  box-shadow: 0px 0px 27px rgb(204, 204, 204) inset;
  transition:500ms all ease;
  padding:3px 3px 3px 3px;
}

.subButton{
  visibility: hidden;
}

.image-wrapper{
  position: relative;
  margin-top: 1em;
}

.pawCss{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-end;
}

.pawBottom{
  margin-right: 1em;
  margin-bottom: 1em;
}

.selectionPage{
  width: 100%;
  height: 30em;
}
.alignPic{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.wrap  {
  height: 17em;
  width: 17em;
  margin-top: 3em;
}
.arrowfaves{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: left;
  align-items: left;
}
.favesHead{
  text-align: center;
  text-decoration: underline;
  background-image:;
}
.wrapfaves{
  margin-top: 3em;
  height: 81vw;
  width: 81vw;
}

.flexfaves{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.trashbottom{
  padding-left: 1em;
  margin-top: 1em;
}


footer{
  height: 6em;
}
@media all and (min-width: 669px) {
  .selectionPage {
    height: 50em;
  }
  .favesHead{
    line-height: 22em;
    text-align: center;
    text-decoration: underline;
    background-image: url('/assets/pngs/animals.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 219px;
  }
  .favestitle{
    vertical-align: text-bottom;
  }
  .inkdog{
    height: 9em;
  }
  .inkcat{
    height: 9em;
  }
  .wrap{
    margin-left: 1em;
    height: 32vw;
    width: 51vw;
    max-width: 39%;
    max-height: 23%;
  }
  .wrapfaves{
    margin-top: 3em;
    height: 22vw;
    width: 23vw;
  }

  .flexfaves{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  .filterForm {
    padding-top: 16%;
    padding-bottom: 22%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
  }

  footer{
    height: 10em;
  }

}
